@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #f0fafb;
    --color-primary-100: #d9f2f4;
    --color-primary-200: #b8e6e9;
    --color-primary-300: #87d3d9;
    --color-primary-default: #4eb6c2;
    --color-primary-500: #3297a4;
    --color-primary-600: #2d7d8d;
    --color-primary-700: #2a6674;
    --color-primary-800: #2a5560;
    --color-primary-900: #274752;
    --color-primary-950: #152e37;

    --color-secondary-default: #f5f7fa;
    --color-secondary-100: #ebeff3;
    --color-secondary-200: #d2dce5;
    --color-secondary-300: #aabdcf;
    --color-secondary-400: #7c9ab4;
    --color-secondary-500: #5c7d9b;
    --color-secondary-600: #486581;
    --color-secondary-700: #3d546c;
    --color-secondary-800: #344558;
    --color-secondary-900: #2f3d4b;
    --color-secondary-950: #1f2732;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-300) var(--color-primary-100);
}

.dark\: * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary-800) var(--color-primary-400);
}

html {
    font-size: 14px;
    font-family:
        'Inter',
        sans-serif,
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
